#button {
    background-color: #2EC4B6; /* Green */
    border: none;
    color: #fdfffc;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#button:hover{
    background-color: #1e7d74;
}
#projectText h2{
    font-size: 30px;
}
#projectText h3{
    font-size : 18px;
}
#projectText h4{
    font-size: 16px;
}

#projectContainer{
    height: 80vh; 
}
@media only screen and (max-width: 600px) {
    #projectText h2{
        font-size: 20px;
    }
    #projectText h3{
        font-size : 12px;
    }
    #projectText h4{
        font-size: 10px;
    }
    #projectContainer {
        height: 80vh; 
    }
}
